body {
    background-color: #ffe;
}

main {
display: flex;
flex-direction: column;
gap: 0.5em;
}

div {
    display:flex;
    justify-content:  start;
    align-items: center;
    gap: 1em;
    background-color: wheat;
    padding: 0 1em;
    border-radius: 10px;
}

.checked {
    text-decoration: line-through;
    background-color: grey;
}
